importFrom("graphics", "hist", "lines", "par", "plot")
importFrom("stats", "glm","Gamma", "as.formula", "binomial", "dist", "dnorm",
             "gaussian", "is.empty.model", "model.matrix",
             "model.offset", "model.response", "model.weights", "pnorm",
             "poisson", "qqline", "qqnorm", "smooth.spline", "supsmu",
             "var")
importFrom("stats","formula","lm","model.frame","terms","update")
importFrom("methods","as", "validObject")
importFrom("Matrix","t","drop0")
importFrom("boot", "glm.diag", "corr")
importFrom("MASS", "gamma.shape")
importFrom("car","crPlot")
importFrom("sandwich","sandwich")
export("dhglmfit","DHGLMMODELING","plotdhglm")
